<% include partials/header%>
<% include partials/navbar%>


<div class="jumbotron d-flex align-items-center justify-content-center">
    <div class="content text-center">
        <h1 class="display-1">Playlist Genie</h1>
        <p class="lead">An intelligent playlist generator for Spotify</p>
        <div class="container searchBarWrapper">
            <form class="form-group">
                <input type="text" class="form-control search-bar searchbar" id="searchBar"
                    placeholder="Enter playlist link / ID....">
            </form>
        </div>
        <hr>

        <p class="lead d-flex justify-content-center">
            <a class="btn btn-lg btn-round-lg spotify-button d-flex justify-content-center align-items-center"
                href="/login" role="button"><i class="fab fa-spotify mr-3 "></i>Login with Spotify</a>
        </p>
    </div>
</div>






























<!-- 
<div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
                <h1 class="display-1">Playlist Genie</h1>
                <p class="lead">An intelligent playlist generator for Spotify</p>
                <input type="text" class="form-control form-control-lg" id="playlist-id" name="playlist-id" id=""
                    autocomplete="off" placeholder="Enter Playlist Id">
                <hr>

                <p class="lead">
                    <a class="btn btn-lg btn-round-lg spotify-button" href="/login" role="button">Login with Spotify</a>
                </p>
            </div>
        </div>
    </div>
</div> -->


<% include partials/footer%>