<h1>Recommended tracks</h1>

<ul>
    <li>
        <img src="https://ksassets.timeincuk.net/wp/uploads/sites/55/2015/12/2015Coldplay_AHeadFullOfDreams271115-1.jpg"
            alt="" width="50" height="50">
        Coldplay
    </li>
</ul>