.spotify-button {
    background-color: #1DB954;
    border-radius: 2rem;
    color: white;
    font-size: 1.7rem;
}

.btn-lg{
    height: 3.3rem;
    width: 20rem;
}

#playlist-id {
    max-width: 75%;
    margin: 0 auto;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;
}

.display-1 {
    font-size: 8rem;
}

html{
    min-height: 100%;
}

body{
    background-image: linear-gradient(to right bottom, #eb3349, #f45c43);
    background-repeat: no-repeat;
    background-size: contain;
    color: aliceblue;

}

.search-bar {
    height: 3.3rem;
    border-bottom: 1px solid ;
}

.picture{
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 85rem;
}

.col-right {
    backface-visibility: inherit;
}

.card {
    background: transparent;
}

.playlist-picture {
    /* border-radius: 0.5rem; */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: transparent;
    max-width: 100%;
    max-height: 100%;
  }

.playlist-info{
    border-radius: 0.5rem;
    height: 16rem;
}

.playlist-art{
    /* height: 12rem; */
    padding-top: 100%;
}

.playlist-name {
    background-color: rgb(0, 0, 0, 0.3);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: white;
}

.playlist-title {
    height: 3rem;
    overflow: hidden;
}

.jumbotron {
    background-color: #eb3349;
    height: 40rem;
}

h5 {
    font-size: 1.2rem;
}